extends layout

block content
  form(action='/', method='POST')
    input(name='content', type='text', placeholder='Details')
    button(hx-post='/', hx-target='body', hx-push-url='true') Add bulletin

  div
    button(hx-get='/?q=all', hx-target='body', hx-push-url='true') Show All
    button(hx-get='/?q=active', hx-target='body', hx-push-url='true') Show Active
    button(hx-get='/?q=archive', hx-target='body', hx-push-url='true') Show Archive

  ul
    each val in list
      li
        span #{val.content}
        if val.is_active
          button(hx-patch='/' + val.id, hx-vals='{ \"active\": 0 }', hx-target='body', hx-push-url='true') Archive
        else
          button(hx-patch='/' + val.id, hx-vals='{ \"active\": 1 }', hx-target='body', hx-push-url='true') Revive
        //- button(hx-delete='/' + val.id, hx-target='body', hx-push-url='true') Delete
