extends layout

block content
  ul
    li
      a(href='/?q=all') Show All
    li
      a(href='/?q=active') Show Active
    li
      a(href='/?q=archive') Show Archive

  form(hx-post='/', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML')
    input(name='content', type='text', placeholder='Details')
    button(type='submit') Add bulletin
  div#response

  ul#bullets(hx-get='/', hx-trigger='refreshBullet', hx-target='#bullets', hx-select='#bullets', hx-swap='outerHTML')
    each val in list
      li
        span #{val.content}
        if val.is_active
          button(hx-patch='/' + val.id, hx-vals='{ \"active\": 0 }', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML') Archive
        else
          button(hx-patch='/' + val.id, hx-vals='{ \"active\": 1 }', hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML') Revive
        form(hx-patch='/' + val.id, hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML')
          input(name='content', type='text', placeholder='Details', value=val.content)
          button(type='submit') Edit
        //- button(hx-delete='/' + val.id, hx-target='#response', hx-target-error='#response', hx-select='#error', hx-swap='innerHTML') Delete
        a(href='/' + val.id + '/history') History
